.login-btn-homeScreen {
  align-items: center;
  background-color: #fff;
  border: 2px solid #581454;
  box-sizing: border-box;
  color: #581454;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  padding: 0 95px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
