.default-profile {
  width: 28px;
  height: auto;
  margin-left: 15px;
  margin-right: 2px;
}

.flyout-container {
  margin-right: 0;
  /* position: relative; */
  width: 40px;
  height: 40px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
}

.users-full-name {
  font-size: 17px;
  font-weight: bolder;
  margin-left: 5px;
  margin-right: 5px;
}

.flyout {
  background: none;
  border: none;
  cursor: pointer;
}

.user-info-container {
  display: flex;
}

.user-pic {
  width: 31px;
  height: 31px;
  border-radius: 5px;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



.profile-dropdown {
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  min-width: 200px;
  min-height: 150px;
  gap: 10px;
  right: 50px;
  top: 50px;
  border: 1px lightgray solid;
}

.logout-btn {
  width: 100%;
  padding-top: 2px;
}

.logout-btn:hover {
  background-color: lightblue;
}


.user-info-container {
  margin-left: 10px;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.change-profile-pic:hover {
  background-color: lightblue;

}
.change-profile-pic-text {
  margin-left: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}


.users-full-name-and-email {
  margin-left: 20px;
}
