.dropdown-admin-btn {
    cursor: pointer;
    color: white;
    font-size: 25px;
}

.admin-btn-container {
    position: relative;
}


.admin-panel-container {
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  min-width: 150px;
  min-height: 200px;
  max-width:150px;
  max-height: 200px;
  gap: 10px;
  right: -105px;
  top: 17px;
  border: 1px lightgray solid;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 140px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  z-index: 100;

}
