.add-people-header {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 20px;
}

.add-people-subheader {
    margin-left: 20px;
    font-size: 14px;
    color: gray;
    align-items: center;
}

.search-input-names {
    margin-top: 30px;
    width: 90%;
    margin-left: 25px;
    height: 40px;
    font-size: 20px;
}

.list-users-containers {
    width: 80%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


.profil-img-container {
    max-width: 35px;
    max-height: 37px;
    margin-right: 10px;
}

.users-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;

}

.top-items-close-icon {
    display: flex;
    justify-content: space-between;
}

.close-icon-page {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.no-users-found {
    width: 100%;
    align-items: center;
    text-align: center;
}

.all-users-list-container {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.image-name {
    display: flex;
}


.add-channeluser-btn {
  background-color: #00785b;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  padding: 0 17px;
  position: relative;
  text-align: center;
  border: none;
}
