/* TODO Add site wide styles */


::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 15px;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 15px;
    height: 10px;
}
