.all-channels-page-title {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.title-text-all-channels {
    font-size: 20px;
    font-weight: 600;

}

.all-channels-title-create-btn {
    background: none;
    font-size: 13px;
    border: 1px lightgray solid;
    border-radius: 3px;
    background: none;
}

.channel-count-text {
    margin-left: 10px;
}


.channels-count-total {
    margin-top: 50px;
    border-bottom: 1px lightgray solid;
    margin-left: 40px;
    margin-right: 40px;
}


.all-channels-create-btn-bot {
    display: flex;
    align-items: center;
    justify-content: center;
}



.create-channel-all {
  margin-top: 40px;
  background-color: #00785b;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  padding: 0 17px;
  position: relative;
  text-align: center;
  border: none;
}
