.channels-container {
    background-color: #581454;
    height: 100%;
    width: 100%;
    border-left: .5px #cea8d1 solid;
    border-bottom: .5px #cea8d1 solid;
    border-top: .5px #cea8d1 solid;
}

.column-title {
    color: #cea8d1;
    margin-top: 10px;
    margin-left: 20px;
}

.navigation-info {
    margin-left: 10px;
}

.channels-list {
    color: #cea8d1;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.channels-list:hover {
    background-color: #350d36;
}


.channel-hash {
    margin-left: 15px;
}
