.channels-container {
    background-color: #581454;
    height: 100%;
    width: 100%;
    border-left: .5px #cea8d1 solid;
    border-bottom: .5px #cea8d1 solid;
    border-top: .5px #cea8d1 solid;
}

.column-title {
    color: #cea8d1;
}

.navigation-info {
    margin-left: 10px;
}

.channels-list {
    margin-top: 7px;
    color: #cea8d1;
    font-size: 18px;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.channels-list:hover {
    background-color: #350d36;
}


.channel-hash {
    font-size: 20px;
    margin-left: 15px;
}
.add-new-channel-parent {
    position: relative;
}

.add-new-channel-plus {
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  min-width: 200px;
  min-height: 80px;
  max-width:200px;
  max-height: 80px;
  gap: 10px;
  right: 10px;
  top: 0px;
  border: 1px lightgray solid;
  align-items: center;
  display: flex;
  text-align: left;
  z-index: 100;
}

.add-channels-btn {
    background: none;
    border: none;
    color: white;
    align-items: center;
    cursor: pointer;
}


.channel-title-container {

    display: flex;
    align-items: center;
    vertical-align: center;
    text-align: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 30px;
}

.add-channel-btn:hover {
    background: #350d36;
    border-radius: 5px;
    max-width: 20px;
    max-height: 20px;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.add-channel-btn {

    max-width: 20px;
    max-height: 20px;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-right: 20px;
}
