.channels-container {
    background-color: #581454;
    height: 100%;
    width: 100%;
    border-left: .5px #cea8d1 solid;
    border-bottom: .5px #cea8d1 solid;
    border-top: .5px #cea8d1 solid;
}

.column-title {
    color: #cea8d1;
}

.navigation-info {
    margin-left: 10px;
}

.channels-list {
    margin-top: 7px;
    color: #cea8d1;
    font-size: 18px;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.channels-list:hover {
    background-color: #350d36;
}


.channel-hash {
    font-size: 20px;
    margin-left: 15px;
}

.add-channels-btn {
    background: none;
    border: none;
    color: white;
    align-items: center;
    cursor: pointer;
}


.channel-title-container {

    display: flex;
    align-items: center;
    vertical-align: center;
    text-align: center;
    align-content: center;
    margin-left: 20px;
    margin-top: 10px;
}
