.add-channels-btns {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.add-new-container {
    position: relative;
    margin-bottom: 10px;
    width: 100%;

}
.add-button {
    display: block;
    margin-right: auto;
    margin-left: 12px;
}

.add-new-channel {
      /* display: none !important; */
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  min-width: 200px;
  min-height: 80px;
  max-width:200px;
  max-height: 80px;
  gap: 10px;
  left: 10px;
  top: 17px;
  border: 1px lightgray solid;
  align-items: center;
  display: flex;
  text-align: left;
  z-index: 100;
}

.add-new-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 10px;
}


.add-new-container:hover {
    background-color: #350d36;
}

.add-workspace-icon-add {
    font-size: 18px;
    color: #cea8d1;
    background: #522452;
    border-radius: 4px;
    margin-right: 5px;
    padding: 3px;
}

.add-channels-text {
    color: #cea8d1;
    font-size: 15px;
}


.add-channel-item {
    width: 130px;
    cursor: pointer;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.add-channel-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.buttons-add-new-channels-container{
    align-items: center;
    text-align: left;
    justify-content: left;
    vertical-align: middle;
    margin-top: 10px;
    width: 100%;
}
