.home-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 60px 260px repeat(3, 1fr);
  grid-template-rows: 45px 0.1fr .3fr repeat(3, 1fr);
  grid-template-areas:
  "header header header header header"
  "nav title content content content"
  "nav misc content content content"
  "nav channels content content content"
  "nav msg content content content"
  "nav msg content content content";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.topnav {
  grid-area: header;
  width: 100%;
  height: 100%;
}

.workspace-bar {
  grid-area: nav;
  width: 100%;
  height: 100vh;
}

.misc-container {
  grid-area: misc;
  width: 100%;
  height: 100%;
}
.title-container {
  grid-area: title;
  width: 100%;
  height: 100%;
}
.channels-container {
  grid-area: channels;
  width: 100%;
  height: 100%;
}

.messages-container {
     grid-area: msg;
     width: 100%;
     height: 100%;
}

.content-container {
     grid-area: content;
     width: 100%;
     height: 100%;
}
