.text-profile-pic {
    max-width: 40px;
}

.message-feed{
    overflow-y: auto;
    max-height: 80vh;
}


.msg-header {
    display: flex;
    align-items: center;
}


.message-container:hover{
    background-color: lightgray;
}
