.editor {
    max-width: 100%;
    margin: 5px;
}

.ProseMirror {
  outline: none;
}

.bundled-editor {
    max-width: 100%;
    border: 2px lightgray solid;
    margin: 20px;
    border-radius: 7px;
}

.send-btn {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 10px;

    margin-bottom: 4px;
}

.blank-msg {
    color: lightgray;
    font-size: 18px;
    cursor: not-allowed;
}

.btn-send {
    color: green;
    font-size: 18px;
    cursor: pointer;
}


.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
