.workspace-bar {
    background-color: #581454;
    position: relative;
    height: 100%;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}






.workspace-btn-container {
    margin-top: 30px;
}
