.workspace-bar {
    background-color: #581454;
    position: relative;
}



.workspace-btns {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.workspace-icon {
    width: 60px;
}


.workspace-btn-container {
    margin-top: 30px;
}
