
.rename-channel-title {
    font-size: 26px;
    margin-left: 20px;
    margin-top: 20px;
}

.channel-name-label {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bolder;
}

.character-limit-error{
    margin-left: 20px;
}


.channel-name-input-change {
    margin-left: 20px;
    margin-top: 5px;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold
}

.error-msg {
    margin-left: 20px;
}


.restrictions-text {
    margin-top: 2px;
    font-size: 14px;
    margin-left: 20px;
}

.cancel-channel-update {

  margin-top: 40px;
  background-color:  white;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  padding: 0 17px;
  position: relative;
  text-align: center;
  border: none;
  border: 1px solid gray;
}

.save-channel-save {
  margin-top: 40px;
  background-color: #00785b;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  padding: 0 17px;
  position: relative;
  text-align: center;
  border: none;
  margin-left: 15px;
}


.btns-update-container {
    width: 255px;
    display: flex;
    margin-left: auto;
    margin-right:0;
}
