.edit-shown-ellipse {
    position: absolute;
    right: 20px;
    display: flex;
}

.hidden-ellipse {
    display: none;
}

.message-container-text{
    margin-left: 65px;
    padding-bottom: 20px;
}

.editable-btns-container {
  display: flex;
  overflow-y: none;
}


.cancel-text-edit-btn {
  background-color:  white;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 28px;
  outline: 0;
  padding: 0 10px;
  position: relative;
  text-align: center;
  border: none;
  border: 1px solid gray;
}

.save-text-edit-btn {
  background-color: #00785b;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  outline: 0;
  padding: 0 18px;
  position: relative;
  text-align: center;
  border: none;
  margin-right: 20px;
  margin-left: 10px;
}

.save-text-edit-btn-err {
    background-color: lightgray;
    border: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    outline: 0;
    padding: 0 18px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: not-allowed;
}

.error-msg-text {
  margin-right: 100px;
}

.editor-width-set {
  max-width: 80%;
}

.edit-btns-container-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
